* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* share styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 90%;
  max-width: 1452px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.text-dark3 {
  color: #727272;
}

.btn {
  padding: 20px 25px;
  background-color: #ff900e;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #ff8f0e9c;
}
/* main styles */
/* header section start (nav menu) */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 45px;
  padding-top: 20px;
}

nav {
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.25rem;
  font-weight: 700;
}

.menu {
  list-style: none;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
}
.menu li a:hover {
  background-color: rgba(255, 143, 14, 0.24);
}

/* header section start (Banner) */

.banner {
  margin-top: 100px;
}
.banner-content {
  margin: 0 auto;
  text-align: center;
  max-width: 870px;
  margin-bottom: 50px;
}
.banner-content h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 25px;
}
.banner-content p {
  font-size: 1rem;
  margin-bottom: 32px;
}
.banner-img img {
  width: 100%;
}

/* Our Features section  start*/
main > section {
  margin-top: 120px;
}

.features-container {
  gap: 60px;
  align-items: center;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-img img {
  width: 100%;
}
.team-content {
  max-width: 537px;
  margin: 0 auto;
}

.quick-list {
  font-size: 2.75rem;
  font-weight: 600;
}
.of-our {
  font-size: 2.75rem;
  font-weight: 600;
  color: #131313;
}
.features {
  font-size: 2.75rem;
  font-weight: 600;
  color: #ff900e;
}
.team-content h2 {
  margin-bottom: 30px;
}
.team-content p {
  margin-bottom: 30px;
  font-size: 1rem;
}

/* Features you will love & enjoy section */
.enjoy-container {
  gap: 100px;
}

.enjoy-box {
  max-width: 586px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.enjoy-heading {
  font-size: 2.75rem;
  font-weight: 700;
  color: #131313;
  border-left: 5px solid #ff900e;
  padding-left: 10px;
  margin-bottom: 24px;
}
.enjoy-pra {
  margin-bottom: 30px;
}

.enjoy-card-box {
  flex-direction: column;
  gap: 20px;
}

.enjoy-card {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.enjoy-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #131313;
}

.enjoy-img img {
  width: 100%;
  height: 825px;
}

.enjoy-btn {
  padding: 46px 42px;
  margin-left: -77px;
  margin-top: -130px;
}
.enjoy-year {
  font-size: 4rem;
  font-weight: 700;
}
.experience {
  font-size: 1.75rem;
  font-weight: 500;
}

/* Some Facts section */

.fact-content {
  max-width: 542px;
}
.fact-content h2 {
  font-size: 2.75rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.fact-card-box {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.fact-card {
  border: 1px solid #ff900e;
  max-width: 241px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 36px;
  gap: 5px;
}
.fact-card:hover {
  background-color: #f0edea79;
}
.fact-card h3 {
  font-size: 2.75rem;
  font-weight: 600;
  color: #424242;
}
.fact-card h4 {
  font-size: 1rem;
  color: #727272;
}

/* Our Sponspors section*/
.sponsor-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sponsor-content {
  max-width: 542px;
  margin-bottom: 50px;
  text-align: center;
}
.sponsor-content h2 {
  font-size: 2.75rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.sponsor-card-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 155px;
  filter: grayscale(100%);
}
.sponsor-card-box img {
  max-width: 100%;
}
/* footer section */
footer {
  margin-top: 130px;
  margin-bottom: 130px;
}
.footer-container {
  background-color: #fff4e7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 8px;
}
.footer-container p {
  color: #424242;
}
/* =====================
   Responsive Devices
===================== */

/* Large Desktop / Laptop */
@media screen and (max-width: 1200px) {
}
/* Large Laptop */
@media screen and (max-width: 1024px) {
  .sponsor-card-box {
    gap: 100px;
  }
}

/* Tablet (Landscape) */
@media screen and (max-width: 992px) {
  .logo {
    font-size: 2rem;
  }
  .enjoy-heading {
    font-size: 2rem;
  }
  .enjoy-btn {
    padding: 26px 32px;
    margin-left: -77px;
    margin-top: -130px;
  }
  .enjoy-year {
    font-size: 3rem;
  }

  .fact-card-box {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .sponsor-card-box {
    gap: 60px;
  }
}

/* Tablet / Mobile (Portrait) */
@media screen and (max-width: 768px) {
  main > section {
    margin-top: 60px;
  }
  .btn {
    padding: 15px 20px;
    font-size: 1rem;
  }
  .logo {
    font-size: 1.75rem;
  }
  .banner-content h2 {
    font-size: 3rem;
  }
  .features-container {
    gap: 30px;
    align-items: center;
  }

  .team-content {
    max-width: 250px;
  }

  .quick-list,
  .of-our,
  .features {
    font-size: 1.7rem;
  }
  .enjoy-container {
    flex-direction: column;
    gap: 41px;
  }
  .enjoy-box {
    max-width: 690px;
  }
  .enjoy-btn {
    display: none;
  }
  .sponsor-card-box {
    gap: 30px;
  }
  .sponsor-content {
    margin-bottom: 30px;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }

  .menu li a {
    font-size: 0.9rem;
  }
  .banner {
    margin-top: 40px;
  }
  .banner-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .btn {
    padding: 15px 20px;
    font-size: 1rem;
  }
  header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 10px;
  }
  .features-container {
    flex-direction: column;
  }

  .team-content {
    max-width: 600px;
  }
  .sponsor-card-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-container p {
    font-size: 0.6rem;
  }
}

/* Small Mobile (Very small devices) */
@media screen and (max-width: 360px) {
  .menu {
    gap: 9px;
  }
  .menu li a {
    font-size: 0.85rem;
  }
  .banner-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .banner-content p {
    font-size: 0.75rem;
  }
  .banner-content {
    margin-bottom: 20px;
  }
}
