* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* share styles */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 90%;
  max-width: 1452px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.text-dark3 {
  color: #727272;
}

.btn {
  padding: 20px 25px;
  background-color: #ff900e;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: 1.25rem;
}
/* main styles */
/* header section start (nav menu) */
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding-bottom: 45px;
  padding-top: 20px;
}

nav {
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.25rem;
  font-weight: 700;
}

.menu {
  list-style: none;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 400;
}

/* header section start (Banner) */

.banner {
  margin-top: 100px;
}
.banner-content {
  margin: 0 auto;
  text-align: center;
  max-width: 870px;
  margin-bottom: 50px;
}
.banner-content h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 25px;
}
.banner-content p {
  font-size: 1rem;
  margin-bottom: 32px;
}
.banner-img img {
  width: 100%;
}

/* Our Features section  start*/
main > section {
  margin-top: 120px;
}

.features-container {
  gap: 60px;
  align-items: center;
}

.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-img img {
  width: 100%;
}
.team-content {
  max-width: 537px;
  margin: 0 auto;
}

.quick-list {
  font-size: 2.75rem;
  font-weight: 600;
}
.of-our {
  font-size: 2.75rem;
  font-weight: 600;
  color: #131313;
}
.features {
  font-size: 2.75rem;
  font-weight: 600;
  color: #ff900e;
}
.team-content h2 {
  margin-bottom: 30px;
}
.team-content p {
  margin-bottom: 30px;
  font-size: 1rem;
}

/* Features you will love & enjoy section */
.enjoy-container {
  gap: 146px;
}

.enjoy-box {
  max-width: 586px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.enjoy-heading {
  font-size: 2.75rem;
  font-weight: 700;
  color: #131313;
  border-left: 5px solid #ff900e;
  padding-left: 10px;
  margin-bottom: 24px;
}
.enjoy-pra {
  margin-bottom: 30px;
}

.enjoy-card-box {
  flex-direction: column;
  gap: 20px;
}

.enjoy-card {
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.enjoy-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #131313;
}

.enjoy-img img {
  width: 100%;
}

.enjoy-btn {
  padding: 46px 42px;
  margin-left: -92px;
  margin-top: -130px;
}
.enjoy-year {
  font-size: 4rem;
  font-weight: 700;
}
.experience {
  font-size: 1.75rem;
  font-weight: 500;
}
/* =====================
   Responsive Devices
===================== */

/* Large Desktop / Laptop */
@media screen and (max-width: 1200px) {
}

/* Tablet (Landscape) */
@media screen and (max-width: 992px) {
  .logo {
    font-size: 2rem;
  }
}

/* Tablet / Mobile (Portrait) */
@media screen and (max-width: 768px) {
  main > section {
    margin-top: 60px;
  }
  .btn {
    padding: 15px 20px;
    font-size: 1rem;
  }
  .logo {
    font-size: 1.75rem;
  }
  .banner-content h2 {
    font-size: 3rem;
  }
  .features-container {
    gap: 30px;
    align-items: center;
  }

  .team-content {
    max-width: 250px;
  }

  .quick-list,
  .of-our,
  .features {
    font-size: 1.7rem;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }
  .banner {
    margin-top: 40px;
  }
  .banner-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .btn {
    padding: 15px 20px;
    font-size: 1rem;
  }
  header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 10px;
  }
  .features-container {
    flex-direction: column;
  }

  .team-content {
    max-width: 600px;
  }
}

/* Small Mobile (Very small devices) */
@media screen and (max-width: 360px) {
  .menu {
    gap: 9px;
  }
  .menu li a {
    font-size: 0.85rem;
  }
  .banner-content h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .banner-content p {
    font-size: 0.75rem;
  }
  .banner-content {
    margin-bottom: 20px;
  }
}
